
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CaterSquad | Manager</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/bootstrap-tokenfield.min.css" rel="stylesheet">
    <link href="css/tokenfield-typeahead.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


<!-- Header Section -->
<section class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img src="img/catersquad%20white.png">
                <h1>Create your event</h1>
            </div>
        </div>
    </div>
</section>

<div class="page-wrap">
 <%=yield%>
</div>
<!-- Footer Section -->
<section class="footer-section site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>Cater Squad &#169; 2015</p>
            </div>
        </div>
    </div>
</section>

<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/moment.min.js"></script>
<script type="text/javascript" src="js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="js/bootstrap-tokenfield.js"></script>
<script type="text/javascript" src="js/ical.js"> </script>
<script type="text/javascript" src="js/manager.js"></script>

</body>
</html>
