<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CaterSquad | Participant</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/participant.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


<!-- Header Section -->
<section class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img src="img/catersquad-white.png">
                <h1>Pick your favorite meal</h1>
            </div>
        </div>
    </div>
</section>


<!-- Selection Section -->
<section class="selection-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default restaurant-card">
          <div class="panel-body">
            <div class="panel-info">
              <div><img src="img/burger.jpg" id="3"></div>
            </div>
          </div>
          <div class="panel-footer">
            <h3>Burger with fries</h3>
            <p>This very taste burger is full of stuff you probably are allergic too, so please don't pick it! ($6)</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default restaurant-card">
          <div class="panel-body">
            <div class="panel-info">
              <div><img src="img/burrito.jpg" id="1"></div>
            </div>
          </div>
          <div class="panel-footer">
            <h3>Burrito</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default restaurant-card">
          <div class="panel-body">
            <div class="panel-info">
              <div><img src="img/eggs.jpg" id="2"></div>
            </div>
          </div>
          <div class="panel-footer">
            <h3>Bacon and Eggs</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default restaurant-card">
          <div class="panel-body">
            <div class="panel-info">
              <p>info</p>
            </div>
          </div>
          <div class="panel-footer">
            <h3>Something else delicious</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <button onclick="submit()" class="btn-xl">Submit</button>
      </div>
    </div>
  </div>
</section>


<!-- Footer Section -->
<section class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>Cater Squad &#169; 2015</p>
            </div>
        </div>
    </div>
</section>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script src="js/participant.js"></script>

</body>

</html>
